@import "~bootstrap/scss/bootstrap.scss";

div {
 display: table;
 margin: auto;
}

form, p{
    display: table;
    margin: auto;
   color: white;
    
}

h1 {
    font-size: 4rem;
    padding: 1rem;
    display: table;
    margin: auto;
    color: white;
    

}

.to-do-list {
    height: 30rem;
    width: 30rem;
    background-color: rgb(49, 86, 89);
    margin-top: 2em;
    border-radius: 5%;
    border: 5px solid;
    border-color: rgb(198, 224, 255);
    z-index: -10;
}

.ul{
    display: table;
    margin: auto;
}

.list {
    list-style-type: none;
    margin-right: 3rem;
    font-size: 20px;
}

body {
    background-color: rgb(37, 48, 49);
}